@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: 'Reddit Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;

  --main-color: #ff69b4dd;
  
  // background-image: url('bg_test.png');
  // background-size: cover;
}

.hidden {
  pointer-events: none;
  display: none !important;
}